/* Centers Hello My Name is Jacob :)*/
/* Pushes it down 10 pixels from the top of the screen. */
.intro {
    text-align: center;
    margin: 10px;
}

/* Adds tabs to text in all p tags, unless a class is added to the p tag*/
/* Class styling takes precedence over tag styling */
p {
    margin: 0px;
    margin-left: 10px;
}

/* Adds margins to the resource links */
.resources {
    margin-left: 25px;
    margin-top: 10px;
}

/* Adds margins to the note section */
.notesection {
    margin: 20px;
}

/* Makes note section topic backgrounds pink */
/* display inline-block lets topics be next to eachother */
/* CSS is all about searching the resources websites and doing some trial and error*/
/* For example I searched "CSS how to have divs next to eachother horizontally" */
.topic {
    margin: 5px;
    padding: 20px;
    padding-top: 0px;
    display: inline-block;
    background-color: pink;
}

.related {
    
    display: inline-block;
}

/* Makes tags with class note tabbed in more */
/* How I got the bullet points to be tabbed in more (I added class="note" to all of the bullet point lines.)*/
.note {
    margin-left: 20px;
}

/* margins for the calculators section */
.calculator {
    margin: 20px;
}

/* margins and width of input boxes */
input {
    margin: 5px;
    width: 5em;
}

/* margins on all buttons */
button {
    margin: 5px;
}

/* margins and underline on all h4 tags */
h4 {
    /* I looked up "CSS how to underline" on google, result was w3schools. */
    text-decoration: underline;
    margin-bottom: 5px;
}

.homelink {
    position: absolute;
    top: 10px;
    right: 15px;
}
